[2012-03-15 02:58] issackelly opened #1 "Setup ReadTheDocs.org support"
Could you add me as an admin on this repo, or add/setup the readthedocs extension?

[2012-04-06 23:16] #1 closed, assigned to percyperez

[2012-10-15 12:42] poirier opened #5 "Publish to PyPI"

[2012-10-15 12:42] #5 closed, assigned to nobody

[2013-01-02 10:26] vbrilon opened #6 "Documentation inconsistent with implementation"
Per the docs, I am creating my client as such:
      `client = fitbit.Fitbit(c_key, c_secret, key, secret)`

Which gives me an error of:
      `TypeError: __init__() takes at most 4 arguments (5 given)`

Looking at the code, I am assuming what was meant was this:
      `client = fitbit.Fitbit(c_key, c_secret, user_key=key, user_secret=secret)`

Is that correct or am I misreading it?

[2013-01-02 16:13] #6 closed, assigned to nobody

[2013-10-06 11:56] blurrcat opened #14 "Support for Get-Intraday-Time-Series API"
Can you add support for intraday time series API?
https://wiki.fitbit.com/display/API/API-Get-Intraday-Time-Series

I tried to do it myself, but it returns a 500. For example, to get intraday steps with a detail level of 1min, I make a request to the following:

    url='https://api.fitbit.com/1/user/-/activities/distance/date/2013-10-01/2013-10-01/1min.json'
    fitbit_client.make_request(url)

I

[2013-12-06 20:23] wshayes opened #15 "Is the Quickstart example still working?"
I tried to run:

    import fitbit
    def main():
        consumer_key = 'xxx'  # key and secret collected from dev.fitbit.com site
        consumer_secret = 'xxx'
        unauth_client = fitbit.Fitbit(consumer_key, consumer_secret)
        print unauth_client.activities()

And got (with the 0.0.2 release as installed using pip today on a Mac Mavericks machine):
Traceback (most recent call last):

[2014-02-03 21:38] ChrisCinelli opened #17 "fetch_request_token return an OAUTH error"
Code used:

[code]

Exception: Invalid response {"errors":[{"errorType":"oauth","fieldName":"n/a","message":"oauth_problem=parameter_absent&oauth_parameters_absent=oauth_signature_method%26oauth_signature"}],"success":false}.

This is probably related with the recent changes to the OAUTH implementation at Fitbit. See https://groups.google.com/forum/?hl=en&lnk=gcimh#!topic/fitbit-api/M_5m9EiVDc8

[2014-02-04 22:06] #17 closed, assigned to nobody

[2014-02-10 12:48] irl opened #21 "Remove dependency on python-oauth2"
The development of python-oauth2 stopped dead about 2 years ago.

There are currently two CVEs (security issues) reported for python-oauth2.

https://security-tracker.debian.org/tracker/source-package/python-oauth2

This means that python-fitbit is currently inheriting those security issues.

https://pypi.python.org/pypi/oauthlib would provide a secure alternative, and the upstream development is

[2014-03-27 14:09] AlexanderStarr opened #24 "Exception (invalid response) on fetch_access_token()"
Hi, I have an app that is using your library.  Authentication was working fine until recently (I think Fitbit changed their OAuth) and now I'm having problems.  Trying to do things by hand, this is what I run into.

u'https://www.fitbit.com/oauth/authorize?oauth_token=a5f9b2fe25c98f39097739d462d5c579'

(At this point I visit the oauth_url, sign in to Fitbit, hit allow, and get redirected to Google

[2014-03-27 16:19] #24 closed, assigned to nobody

[2014-03-28 04:24] skoczen opened #25 "Body Log missing/undocumented?"
Hey there,

Loving the library, but running into one snag - it seems like one API endpoint is missing - the body log.  This provides all the readings for a scale, etc.
https://wiki.fitbit.com/display/API/API-Get-Body-Weight

I read through the docs a number of time, and started digging into the library code, but figured I'd just ask before tossing a ton of time at it.  Am I missing where it lives?

[2014-03-30 15:44] #25 closed, assigned to nobody

[2014-04-06 11:50] mariosangiorgio opened #27 "Problem with imports when I run ./fitbit/gather_keys_cli.py"
Hi, if I try to gather keys I get the following error:

`$./fitbit/gather_keys_cli.py KEY SECRET
Traceback (most recent call last):
  File "./fitbit/gather_keys_cli.py", line 34, in <module>
    from api import FitbitOauthClient
  File "/Users/mariosangiorgio/FitBitHacks/python-fitbit/fitbit/api.py", line 9, in <module>
from fitbit.exceptions import (BadResponse, DeleteError, HTTPBadRequest,
Impor

[2014-04-07 21:49] #27 closed, assigned to nobody

[2014-05-07 12:16] NiklasMM opened #31 "Support for Get-Time-Series API"
I would like to be able to request, for example, the number of steps every day for a given period of time. As far as I understand, this isn't possible (in a single request) currently.

I believe it should be possible with this: https://wiki.fitbit.com/display/API/API-Get-Time-Series

[2014-05-07 14:42] #31 closed, assigned to nobody

[2014-05-16 03:15] karthikarul20 opened #32 "Callback URL not being invoked"
I am trying to integrate the FITBIT api in which i managed to get auth_token and redirect the user for Authorization. While creating the Fitbit() i am setting the callback_uri. But, after completing the authorization the FitBit API is not invoking my callback service.

Please pardon my ignorance and help me to deal with this issue.

I am using Web2Py framework and below is my code.

[code]

EDIT(b

[2014-05-19 06:19] #32 closed, assigned to nobody

[2014-05-29 19:47] EckoEdc opened #34 "foods() can't work"
The api endpoint is /foods/log/date/...json so it can't be curried right with foods in the ressource list.

[2014-07-12 03:26] #34 closed, assigned to nobody

[2014-07-12 03:30] #21 closed, assigned to brad

[2014-09-24 21:05] heinzehavinga opened #40 "Time series acting strange?"
So the library seems to work great, but as soon as I try to call on time_series the authorisation seems to act up. Other calls don't seem to create this problem. I created user token using gather_keys_cli but the tokens the error returns aren't mine so i would assume these are incorrect created signatures instead of token?

 print authd_client.time_series('/activities/steps/',period='7d')
  File "

[2014-10-08 13:24] jukebox opened #42 "can't be installed on debian"
[juke@jhost:~] % su -c "pypi-install fitbit"
Mot de passe :
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
running the following command in directory: deb_dist/tmp_py2dsc/fitbit-0.1.2
/usr/bin/python setup.py --command-packages stdeb.command sdist_dsc --dist-dir=/tmp/tmp7Vs_OP/deb_dist --use-premade-distfile=/tmp/tmp7Vs_OP/fitbit-0.1.2.tar.gz bdist_deb
-=-=-=-=-=-=-=-=-=-=

[2014-10-08 16:16] #42 closed, assigned to nobody

[2014-11-11 18:02] cdphelan opened #44 "Callback URL not being invoked properly"
This library is great - you've been enormously helpful, thanks! I've been having having an issue with my callback URL that I haven't been able to solve and would like to see if you have any insight on it.

My callback URL redirects to http://www.fitbit.com/[my callback URL], rather than just the callback URL. Erasing the http://www.fitbit.com manually in the browser makes the rest of the code proc

[2014-11-14 17:30] #44 closed, assigned to nobody

[2014-11-27 04:30] simonbromberg opened #45 "Problem with SSL?"
Don't think this library would work anymore because as of in early November 2014 Fitbit changed the API so that it requires https. Looks like the links in the files use https; is anyone else having any trouble getting this to work?

Does the host server also need to be using https? My localhost right now isn't set up for SSL.
Getting: TypeError: must be _socket.socket, not socket

Deploying to an

[2014-12-28 03:30] schweerelos opened #46 "Water read/write not working"
Water read/write isn't working, it's using the wrong endpoint (water is a food, not its own resource, see https://wiki.fitbit.com/display/API/API-Get-Water). Using `authd_client._COLLECTION_RESOURCE('foods/log/water')` works, as does `authd_client.foods_log_water()` after changing line 156 in api.py (https://github.com/orcasgit/python-fitbit/blob/master/fitbit/api.py#L156) to `'foods/log/water'`.

[2014-12-28 03:46] schweerelos opened #47 "Cannot retrieve goals"
How do I retrieve a user's goals for body weight, water or activities? They are in the collection resource part of the API, so I tried `authd_client.__COLLECTION_RESOURCE('foods/log/water')`. However, this appends today's date to the URL and the resulting URL is eg `https://api.fitbit.com/1/user/-/foods/log/water/goal/date/2014-12-28.json`. The API wants the URL to be just `GET /<api-version>/user

[2015-01-05 14:01] jukebox opened #48 "How to fix a goal"
hi

How can i fix a goal with API ?

thx

[2015-02-01 15:43] brad opened #50 "Need requirements documentation"
See #49

[2015-02-01 18:59] #50 closed

[2015-02-05 04:24] #14 closed

[2015-02-12 12:28] git-commit opened #54 "Add ability to log body measurements"
I would like to use the api to add some body measurements (e.g. weight).

See:
https://wiki.fitbit.com/display/API/API-Log-Body-Measurements

[2015-02-12 16:15] brad commented on #54
Hi @git-commit
You can add body measurements using the `body` method, described here:
http://python-fitbit.readthedocs.org/en/stable/#fitbit.Fitbit._COLLECTION_RESOURCE

Sorry, the documentation is a little confusing because those methods are defined using `setattr` at runtime. Please reopen this if that doesn't work.

[2015-02-12 16:15] #54 closed

[2015-02-19 01:22] jykim opened #55 "Import Error"
Hi,

I can't seem to import the library in my Ubuntu.

Any idea?

[code]

[2015-02-19 05:34] orcas commented on #55
@jykim Can you post hear the output of ```python -c "import fitbit; print(fitbit.__version__)"```? Also, what was your method of installation

[2015-02-20 22:46] jykim commented on #55
Hi,

The output was the following:
(probably not very helpful, I guess...)

$ python -c "import fitbit; print(fitbit.__version__)"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/fitbit/__init__.py", line 10, in <module>
    from .api import Fitbit, FitbitOauthClient
  File "/usr/local/lib/python2.7/dist-packages/fitbit/api.p

[2015-02-20 22:48] jykim commented on #55
Here's the full output in case this will help:

$ pip freeze
Flask==0.10.1
GnuPGInterface==0.3.2
Jinja2==2.7.3
Landscape-Client==13.07.3
Markdown==2.4.1
MarkupSafe==0.23
PAM==0.4.2
PIL==1.1.7
PyYAML==3.11
Pygments==1.6
SQLAlchemy==0.9.8
Twisted-Core==11.1.0
Werkzeug==0.9.6
apt-xapian-index==0.44
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
bokeh==0.6.0
certifi==14.05.14
chardet==2.0.1
col

[2015-02-20 22:54] brad commented on #55
@jykim Thanks that's exactly what I was looking for, I'll look into it

[2015-02-21 17:54] brad commented on #15
@wshayes OK, this is not a bug. To create an authenticated client you need to provide the `resource_owner_key` and `resource_owner_secret` as well as the consumer key and secret. The following works:
[code]
Please reopen if there is a problem.

[2015-02-21 18:11] brad commented on #15
Sorry, premature closure. I think the real problem here is that `activities` is not a method that can be used without authentication, though the `python-fitbit` docs clearly make it seem that way.

[2015-02-21 18:15] #15 closed

[2015-02-21 18:36] brad commented on #45
@simonbromberg No the host server doesn't need to be using https. Are you still experiencing this issue?

[2015-02-21 18:42] brad commented on #47
Reading/Writing goals is a piece of the library that is missing.

[2015-02-21 18:42] brad commented on #48
@jukebox Currently, reading/writing goals is not possible with python-fitbit. It will be done as part of #47

[2015-02-21 18:42] #48 closed

[2015-02-26 21:48] jykim commented on #55
Any updates on this? :)

[2015-02-26 21:51] mmilleror commented on #55
Still struggling to reproduce the issue
On Feb 26, 2015 1:49 PM, "jykim" <notifications@github.com> wrote:

[2015-02-27 04:42] brad commented on #55
After a closer look, it seems that the problem is with the `requests` library. Try `import requests` and see if that gives an error. Is it possible for you to update your Python installation, perhaps with the deadsnakes python2.7 PPA? https://launchpad.net/~fkrull/+archive/ubuntu/deadsnakes-python2.7
2.7.3 is pretty old, it seems like there's a good chance this could have been fixed since then.

[2015-02-27 14:20] donaghhorgan opened #56 "Specifying a start or end time of midnight for intraday_time_series causes a TypeError"
If you call the `intraday_time_series` method and specify a start time or end time of midnight (i.e. 00:00), a TypeError is thrown. Minimum working example:

[code]

This behaviour is caused by lines 376 and 379 of api.py, i.e.

[code]

The problem is that if `start_time = time(0,0)`, then it evaluates to `False` as a boolean (the same goes for `end_time`) so the check `if start_time and ...` will

[2015-02-27 15:09] brad commented on #46
@schweerelos This is fixed in master, it will be in the next release.

[2015-03-04 01:52] jykim commented on #55
'import requests' gave an error, but I set-up an clean environemnt using virtualenv, and python-fitbit imports just fine.

Thanks for the answers!
------------
In [2]: import requests
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-2-686486c241c8> in <module>()
----> 1 import requ

[2015-03-04 02:17] jykim opened #57 "How to get resource_owner_key / resource_owner_secret?"
Hi, I have trouble getting the resource_owner_key / resource_owner_secret.

I used the customer_key & customer_secret from the https://www.fitbit.com/dev/dev.

And I tried the ./gather_keys_cli.py, but it doesn't seem to provide the information.

Any help?

[code]

[2015-03-05 05:01] brad commented on #55
@jykim Can this issue be closed?

[2015-03-05 05:04] brad commented on #57
@jykim `gather_keys_cli.py` provides the information. Output from running it should look like the following:
[code]

The `oauth_token` and `oauth_token_secret` from the final response are the `resource_owner_key` and `resource_owner_secret` respectively. I think the docs need to be updated to explain this.

[2015-05-20 19:05] randi120 opened #59 "OAuth 2.0 support"
Hello,
Was wondering if OAuth 2.0 support was in the pipeline?
https://wiki.fitbit.com/display/API/OAuth+2.0

[2015-05-20 22:35] brad commented on #59
Hi @randi120
I didn't realize they had added Oauth 2.0 support! It is not something we are currently working on, but we will happilly accept pull requests :smile:

[2015-05-23 13:17] robertheinze opened #60 "Heart rate based on OAuth 2.0"
Hi!
Fitbit released OAuth 2.0 which is the base to retrieve Heart Rate data as far as I have understood it. Could you please integrate this OAuth 2.0 procedure. I am currently running it like shown, but I don't get heart rate!
![robertheinze_ _pi_raspberrypi____downloads_benallard-galileo-65f67e191699_galileo_ _ssh_ _128x37](https://cloud.githubusercontent.com/assets/12094678/7784235/c74828ae-015e

[2015-05-23 17:11] brad commented on #60
Hi @robertheinze thank you for your request! We have already received a request for OAuth 2.0 support in #59 so I am going to close this issue. Please subscribe to that issue for updates.

[2015-05-23 17:11] #60 closed

[2015-05-25 07:12] robertheinze commented on #60
Thanks Brad, looking forward to the implementation :)

[2015-05-27 03:30] randi120 commented on #59
almost there on first pass. expect pull request within a day

[2015-05-27 05:02] brad commented on #59
That's great news!

On Tue, May 26, 2015, 8:30 PM randi120 <notifications@github.com> wrote:

[2015-05-28 20:21] randi120 commented on #59
pull request created.

there are a few things that should be cleaned up, mostly error handling.  the token storage could be streamlined...
let me know if something is not clear.

[2015-06-13 17:19] brad commented on #59
Implemented with PR #61

[2015-06-13 17:19] #59 closed

[2015-06-13 17:20] #55 closed

[2015-06-13 17:22] brad commented on #56
Fixed in 81428b9c01f459f88d934a8aeecbd461dd28c472

[2015-06-13 17:22] #56 closed

[2015-06-24 09:29] robertheinze opened #65 "gather_keys_oauth2"
I don’t know why but my gather_keys_oauth2.py stands still with “Bus STARTED” forever.
What parameters do you call it with? Client (Consumer) Key and the Client (Consumer) Secret-is this correct? Are there any other precautions to be done?

[2015-06-25 00:54] brad commented on #65
@robertheinze Are you running it on a server? It has to be run on a machine with a display so it can open a web browser.

[2015-06-25 08:32] robertheinze commented on #65
@brad  Yes, this was the reason, thanks for your quick response

[2015-06-25 08:32] #65 closed

[2015-06-29 11:13] robertheinze opened #66 "Problem getting intraday HR from Charge HR"
Hi Brad, me again - sorry

I want to read out the HR from Fitbit Charge HR but I always run into this ...
Traceback (most recent call last):
  File "fitbit_heartrate.py", line 12, in <module>
    intradayH = authd_client.intraday_time_series('activities/heart', base_date = 'today', detail_level = '1min')
  File "/usr/local/lib/python2.7/dist-packages/fitbit-0.1.3-py2.7.egg/fitbit/api.py", line 389

[2015-07-07 10:02] avinash-keshri commented on #57
Its not working with the logic of 'oauth_token' and 'oauth_token_secret' from the final response as the 'resource_owner_key' and 'resource_owner_secret'.

[2015-07-07 10:05] avinash-keshri commented on #56
hi donaghhorgan, can you pls tell me how you got  'user_key' and 'user_secret' . i am unable to find it via ./gather_keys_cli.py file. Thanks in advance.

[2015-07-07 10:13] avinash-keshri opened #67 "Unable to find 'user_key'/ 'user_secret' via 'gather_keys_cli.py'"
Hi folks,

How do i find the 'user_key'/ 'user_secret' used in the :

authd_client = fitbit.Fitbit('<consumer_key>', '<consumer_secret>', resource_owner_key='<user_key>', resource_owner_secret='<user_secret>')

 ./gather_keys_cli.py provides this information only

RESPONSE
{   u'encoded_user_id': u'alpha',
    u'oauth_token': u'xyz',
    u'oauth_token_secret': u'abc'
}

How do i use it to get the

[2015-07-07 10:23] avinash-keshri commented on #65
@robertheinze are you able to get the 'user_key' ,'user_secret' that is to be used in

[2015-07-07 10:25] avinash-keshri commented on #65
@robertheinze Are you able to get the 'user_key' and 'user_secret' to be used in below code:

authd_client = fitbit.Fitbit('consumer_key', 'consumer_secret', resource_owner_key='user_key', resource_owner_secret='user_secret')

If yes, can you pls tell me the steps to fetch those. Thanks in advance.

[2015-07-07 10:26] abhijitpatkar commented on #60
Hi @robertheinze i have one question for you.In the #constants from where you get USER_KEY and USER_SECRET keys?.if you can explain detail steps to generate USER_KEY and USER_SECRET it will be very helpful
Thanks...

[2015-07-07 10:26] abhijitpatkar commented on #60
Hi @robertheinze i have one question for you.In the #constants from where you get USER_KEY and USER_SECRET keys?.if you can explain detail steps to generate USER_KEY and USER_SECRET it will be very helpful
Thanks...

[2015-07-07 10:42] avinash-keshri commented on #15
@wshayes : Are you able to get the 'user_key' and 'user_secret' via './fitbit/gather_keys_cli.py' to be used in below code:

authd_client = fitbit.Fitbit('consumer_key', 'consumer_secret', resource_owner_key='user_key', resource_owner_secret='user_secret')

If yes, can you pls tell me the steps to fetch those. Thanks in advance.

[2015-07-07 12:39] avinash-keshri commented on #65
Able to fetch the keys. Thanks

[2015-07-07 12:39] avinash-keshri commented on #67
Able to fetch the keys. thanks

[2015-07-07 12:39] avinash-keshri commented on #56
Able to fetch the keys. thanks

[2015-07-07 12:40] #67 closed

[2015-07-07 12:40] avinash-keshri commented on #57
its is working, thanks

[2015-07-07 16:08] brad commented on #57
@avinash-keshri Glad you got it working. Can you please explain what your misunderstanding was so we can clear it up in the docs?

[2015-07-15 01:32] Packetslave commented on #66
Is your registered Fitbit application approved for partner API access?  Unless it is, you can't get intraday data.  Your code works as written for me, using my client ID and secret is authorized for partner access.

[2015-07-18 10:45] robertheinze commented on #66
very strange, they changed to parter API access, it still doesn't work and now I tried the gather_keys_oauth2.py again with the http://127.0.0.1:8080 redirect_url set and the dev.fitbit.com shows "invalid_request : invalid redirect_url param value"
it is really a pain in the a...

[2015-07-19 21:08] brad commented on #66
@robertheinze I was able to reproduce the error you reported by using `http://127.0.0.1:8080` in the "Callback URL" field, but when I add a trailing slash (`http://127.0.0.1:8080/`) it works. Can you please try that?

[2015-07-20 07:17] robertheinze commented on #66
@brad Thanks the 8080/ made it.
I still get the errors mentioned in the issue, but I think that FitBit granted robert.heinze@me.com the Partner API rights wrong. So I contacted them again. I'll let you know.

[2015-08-05 14:46] robertheinze commented on #66
According to Fitbit I have Partner API rights but I still get the error message posted at the beginning of this issue.

[2015-08-05 15:24] robertheinze commented on #66
Finally fixed it.
Reinstalled python-titbit and ran for new tokens, now it works

[2015-08-05 15:24] #66 closed

[2015-08-29 14:43] lordmikefin opened #69 "I can not get the library to use OAuth2."
Hi,

I'm implementing Fitbit data fetching to our application.

While I was looking for how to do this I noticed your great library.

I have been testing you library today (just today).

I installed library with command 'easy_install fitbit' and it started to work.
After few testing I started to look how to actually gather the tokens.
I noticed from your documents that you have code to get tokens,

[2015-08-29 14:46] lordmikefin commented on #69
authd_client.client object type is 'FitbitOauthClient'

[2015-10-11 16:07] mlacayoemery commented on #57
Hi, Perhaps it was the same case as mine, where I was not initially clear that I should copy the pin from FitBit and paste it into the script window to get the response. If you could add prompt text to gather_keys_cli.py that might be helpful for others.

[2015-12-21 12:18] PertuyF opened #70 "OAuth2 "missing access token" with gather_keys_oauth2.py"
Hi,

First of all: thanks a lot for this package, it seems to work really well with oauth1.

Second: I want to use it using OAuth2 (which will be mandatory from March 2016 according to Fitbit), but I can't get my access token using your "gather_keys_oauth2.py" script.

I chose http:/127.0.0.1:8080/ as a callback url, and when I authorize access on the Fitbit page I only get this error:
(Of course

[2015-12-21 21:57] PertuyF opened #71 "OAuth2 "intraday_time_series" error"
Hi,

When I try:

[code]

I get this error:

[code]

By comparison when I tried to manually get this kind of data using another Python Fitbit API client (https://github.com/magnific0/FitBit.py) I successfully get data. However your client is more complete and I would prefer to get it working.

Any idea ?

Best,
Fabien

[2015-12-21 22:03] PertuyF commented on #70
Hi again,

As I successfully obtain my token using another Fitbit API client (https://github.com/magnific0/FitBit.py), it seems there is a problem with your script "gather_keys_oauth2.py".

I would say that oauthlib call using OAuth2Session should not try to validate the token during the request phase.

Best,
Fabien

[2015-12-22 08:39] PertuyF commented on #71
OK, forget that, the resource should be 'activities/heart' and not 'heart'.
Maybe it could be written explicitly in the doc comments, but anyway I'll close this issue.

Sorry for that.

[2015-12-22 08:39] #71 closed

[2015-12-22 18:46] splunkzilla commented on #70
Same issue, but without resolution for me. I have OAuth version 1 working but I need version 2 in order to do the stuff I need. Any resolution other than the one PertuyF used?

[2015-12-31 16:19] kevingoldsmith commented on #70
I'm having the same issue as well

[2016-01-01 07:24] brad commented on #69
@lordmikefin Version 0.1.3 does not support OAuth2. If you would like to use OAuth2 at the moment, you will need to install from git.

[2016-01-01 07:24] #69 closed

[2016-01-01 07:25] brad commented on #70
@kevingoldsmith @splunkzilla @PertuyF This should be fixed in #72

[2016-01-01 14:36] splunkzilla commented on #70
Confirmed the fix in branch fix-oauth2. It working successfully, without any issues.

[2016-01-01 21:39] cc7768 opened #73 "HTTPBadRequest: Can make request with `make_request`, but not `time_series`"
Seems similar to #40? Very odd that the request succeeds with `make_request`, but not with `time_series` because it looks like (and verified) that the url formed within `time_series` is the same as used in the request (see below).

[code]

Here are calls to functions and their output

[code]

I should be able to get what I want directly through `make_request`, but I thought I would bring this up.

[2016-01-01 23:01] cc7768 opened #75 "Refresh token"
After my token expired, I was unable to refresh it. Seems related to how the `requests-oauthlib` package is being called.

I will probably look at this again later -- though today is my first time interacting with oauth so I don't know how much help I'll be. Will update if I learn more.

[code]

[2016-01-02 00:10] cc7768 commented on #75
I believe this is my fault, I didn't understand how the refresh worked.

[2016-01-02 00:10] #75 closed

[2016-01-03 18:45] kevingoldsmith commented on #70
Also tried the branch and it works for me too.

[2016-01-04 15:20] kevingoldsmith opened #76 "need to reauth too often?"
I'm a bit of an oauth2 noob, so sorry if this is a moronic question.

Using the branch with the oauth2 fix, I'm grabbing the credentials and storing them in a config file. Then I'm loading them when I want to access the API. I've got some code to download all the user's fitbit history (based on the old dump.py example). When I hit the API rate limit, I wait until the next hour, but at that time my

[2016-01-04 17:12] brad commented on #76
Not a moronic question. :smile: I'm not very familiar with it either, but according to the docs, access tokens have a lifespan of only one hour and applications are expected to refresh the token before then. I think we will include auto refresh support in the django library (using celery tasks) but I can't think of a great way to support auto refresh at the level of this library. We are happy to a

[2016-01-04 21:52] kevingoldsmith commented on #76
Thanks for the answer. Is there a way to manually refresh through the API? I could detect the case where the refresh limit would be so long that the tokens would get invalidated and do a manual refresh mid-way to avoid the problem...

[2016-01-04 21:59] brad commented on #76
@karthikbgl Yes, if `fitbit` is your api object, you can do `fitbit.client.refresh_token()`

[2016-01-04 21:59] brad commented on #76
Sorry @karthikbgl I meant @kevingoldsmith

[2016-01-04 22:01] kevingoldsmith commented on #76
sweet!

[2016-01-10 11:51] Elder-of-Ozone opened #78 "Oauth2 invalid consumer key && Resource Owner is required"
Hey, I was wondering if I could get some help.

I'm not able to access fitbit resources and I'm sure the problem is my workflow.

I have set up my dev account (personal) with read&write permissions.
I have my consumer key and secret as well as my client ID. I am quite sure though that the consumer key is for oauth1 and client_id is for oauth2.

The supplied script ./gather_keys_oauth2.py provided

[2016-01-10 12:29] #78 closed

[2016-01-10 12:30] Elder-of-Ozone commented on #78
Issue #66 solved this for me. Turns out pip installs an older version.

[2016-01-10 13:58] Elder-of-Ozone opened #79 "OpenSSL: TypeError: buf must be a byte string?"
Using the script
[code]

I'm getting the following error from the OpenSSL library in my global config. Thinking it's a problem with libaries, I created a virtualenv and installed via pip install -r requirements/base.txt. I'm still getting the same problem.

Has anyone else experienced this issue?

[code]

[2016-01-19 03:51] chw333 commented on #70
Also tried the branch and it works for me too.

[2016-01-19 13:15] PertuyF commented on #70
Look like it's been merged on master, it worked for me.

[2016-01-25 06:03] ericmjl opened #82 "Docs link to wiki.fitbit.com and not dev.fitbit.com"
Hi!

Thanks for making this package, it's really awesome :smile:

The most updated Fitbit API docs are at: dev.fitbit.com. However, I noticed that the python-fitbit docs all point to wiki.fitbit.com. Will you accept a PR fixing this problem?

[2016-01-25 06:43] brad commented on #82
Absolutely!

On Sun, Jan 24, 2016, 10:03 PM Eric Ma <notifications@github.com> wrote:

[2016-02-08 05:22] jberge commented on #55
I am a novice, and I am having trouble importing Fitbit library.  Getting import errors with __init__.py and api.py. Running Python 2.7.11 on a Windows 10 machine.  Funny thing is the import is working fine on a Windows 7 machine running Python 2.7.6.  Any suggestions other than setting up virtualenv?

[2016-02-08 05:24] jberge opened #83 "Import error"
I am a novice, and I am having trouble importing Fitbit library. Getting import errors with init.py and api.py. Running Python 2.7.11 on a Windows 10 machine. Funny thing is the import is working fine on a Windows 7 machine running Python 2.7.6. Any suggestions other than setting up virtualenv?

[2016-02-08 16:22] brad commented on #83
@jberge We need more information. Can you please comment with the content of the error? The error your getting sounds like you may be missing a dependency. All the dependencies needed are listed in `requirements/base.txt` and can be installed using `pip`.

[2016-02-08 20:18] jberge commented on #83
![image](https://cloud.githubusercontent.com/assets/13355223/12897719/e40a482e-ce5d-11e5-8b44-12f3f14d7ae4.png)

I hope you can see a screen grab of the error.  Pip was installed as part of python 2.7.11 install.

[2016-02-08 20:20] brad commented on #83
@jberge Yep, so that confirms your error is because you are missing the `requests` library, which gets pulled in as part of our `requests-oauthlib` requirement. You can get all the dependencies by running `pip install -r requirements/base.txt`. Best practice is to do that with virtualenv but it can also be done with the global python environment.

[2016-02-08 20:29] jberge commented on #83
That did it.  Thank you so much for your help!

[2016-02-08 21:07] brad commented on #83
No problem! :+1:

[2016-02-08 21:07] #83 closed

[2016-02-08 21:26] jberge commented on #83
![image](https://cloud.githubusercontent.com/assets/13355223/12899692/6d2e7e50-ce67-11e5-86ae-24ef5f50c70e.png)

I installed the requests library as suggested.  I was receiving a warning saying I should use of new version of pip.  Is that recommended with python 2.7.11?

[2016-02-08 21:28] brad commented on #83
Absolutely, I always recommend using the latest version of pip.

[2016-02-08 21:30] jberge commented on #83
Thank you so much!

[2016-02-21 17:55] bspeice commented on #70
Can this fix please be released? The version available through pypi doesn't currently support OAuth2 as far as I can tell.

[2016-03-08 01:01] randi120 commented on #70
I don't think this is fully working yet.
I just ran into some trouble using the latest version (master hash 01c202397b8a79e10ede52ff172276d6a8ee26a9) which has the fixed as mentioned by @brad #70

Specifically:
`oauthlib.oauth2.rfc6749.errors.MissingTokenError: (missing_token) Missing access token parameter.`

I revert to the version before the fix (master hash f0166f6b0f90f77e4361facdbecad925b61b

[2016-03-10 02:16] Josh2K commented on #70
This also my first attempt at OAuth2.  I'm not having any luck authenticating either.  I put in  http:/127.0.0.1:8080 as my Callback URL  (is that right?) in the App registration page.  When I use the "OAuth 2.0 Client ID" and "Client (Consumer) Secret" values provided as command line parameters in gather_keys_oauth2.py, it seems to launch a webserver and causes my browser to go to a fitbit site b

[2016-03-10 08:56] JamesGardiner commented on #70
@randi120 I'm using 01c2023 without issue.

[2016-03-10 08:58] JamesGardiner commented on #70
@Josh2K your callback URL should be http://127.0.0.1:8080/, __not__ http:/127.0.0.1:8080

[2016-03-10 15:26] randi120 commented on #70
@JamesGardiner  are you getting new tokens or using already saved ones?

When I try to get tokens on 01c2023 I get the following:

[code]
`getter` is an object that handles the generation of access token url and the passing back of the code to get new access and refresh tokens.

It errors at the point when trading in the fitbit code for tokens. In other words,
access token url is okay, the user ha

[2016-03-10 16:18] JamesGardiner commented on #70
@randi120 I've tested both, first using an existing app and by registering a new dummy app. Both worked for me. Apologies for not being able to offer more insight to your problem.

[2016-03-10 16:54] randi120 commented on #70
@JamesGardiner yeah. is a weird issue...
thanks.

[2016-03-15 03:52] bspeice commented on #70
I've had issues in the past where I would get authorization issues if I didn't set the "redirect URL" in Fitbit to match up with what the OAuth API was using. Make sure that if you specify "localhost" as the redirect URI that you have "localhost" as the redirect URI in your fitbit application settings.

[2016-03-23 15:29] percyperez commented on #70
@randi120 I was having the same error as well but not anymore. Have you tried to install requirements in a new virtual environment? After you do that, test the package again. Also, what is the installed version of `requests-oauthlib`? Is it `0.6.1`?

[2016-03-29 19:22] xuefanzhang opened #86 "make_request inside FitbitOauth2Client does not handle refresh on expired token correctly"
Hi there,

I think there is a problem with token refreshing. On expired_token, _fitbit.exceptions.HTTPUnauthorized: Access token expired_ is still being thrown instead of handled correctly. https://github.com/orcasgit/python-fitbit/blob/master/fitbit/api.py#L82.

Inside the if condition, it checks d['errors'][0]['errorType'] == 'oauth' and ... and calls self.refresh_token() when that condition is

[2016-03-30 15:54] #86 closed

[2016-04-01 15:28] percyperez commented on #70
@PertuyF If you don't have this issue anymore, can we close the issue?

[2016-04-02 22:45] SVendittelli opened #89 "get_friends_leaderboard does not return the leaderboard"
get_friends_leaderboard(period) only returns a list of friends, not their rankings.

[fitbit docs](https://dev.fitbit.com/docs/friends/#get-friends-leaderboard) say to use:

`GET https://api.fitbit.com/1/user/[user-id]/friends/leaderboard.json`

which doesn't accept a time period, am I missing something?

[2016-04-03 00:15] SVendittelli commented on #76
@kevingoldsmith How is it that you are grabbing the credentials? I'm trying to store them in a config also but can figure out how. Is it just a case of manually refreshing them and getting them then?

[2016-04-03 20:15] randi120 commented on #70
@percyperez, Thank you!
upgrading requests-oauthlib to 0.6.1 fixed the issue for me.

[2016-04-08 15:22] #70 closed

[2016-04-19 18:02] brad commented on #76
@kevingoldsmith Can we close this?

[2016-04-19 18:06] brad commented on #73
@cc7768 This is happening because you are prefixing the resource with `/` if you change your example to:
[code]
it should work

[2016-04-19 18:06] #73 closed

[2016-04-19 21:19] kevingoldsmith commented on #76
go ahead and close. thanks!

[2016-04-19 21:19] #76 closed

[2016-04-19 21:23] kevingoldsmith commented on #76
@SVendittelli see my (un-merged PR): https://github.com/orcasgit/python-fitbit/pull/80/files Also @brad is there anything I need to do for it to be merged, or if you don't think it is useful, that is fine, too. It's been sitting for a while...

[2016-06-17 22:38] pedrobpio opened #94 "getting missing access token parameter trying to refresh token"
Hi,
I'm having  an issue here, it might be because I'm a newbie at OAuth and python, or because I'm doing something wrong here, but anyway.
I'm trying to refresh my token and I'm getting the following message:

    authd_client.client.refresh_token()
  File "C...Python\Python35-32\lib\site-packages\fitbit\api.py", line 162, in refresh_token
    auth=requests.auth.HTTPBasicAuth(self.client_id, self

[2016-06-19 18:34] pedrobpio commented on #94
So sorry, it was my mistake, there is nothing wrong with this part of the API, I wasn't passing the refresh token correctly.

[2016-06-19 18:34] #94 closed

[2016-06-22 09:00] skoenig commented on #79
This is rather related to urllib3 / requests and can be solved installing the `requests[security]` modules as described here: http://stackoverflow.com/a/29099439

[2016-08-29 14:43] alextruong opened #98 "force login/revoke access/programmatic access?"
I'd like to (for example) implement the `prompt` parameter as listed in the documentation (https://dev.fitbit.com/docs/oauth2/#authorization-page) for a project I'm helping a client with. I'm trying to look through the package code, but it's not immediately apparent where I'd make edits, if any.

Alternatively, I'd like to be able to revoke access on demand, as it's sort of a pain having to remove

[2016-08-29 14:54] brad commented on #98
@alextruong Thank you for your interest! Unfortunately, most of the OAuth2 authorization is not part of this library. We assume authorization has already been granted. If you use Django, you can try our [https://github.com/orcasgit/django-fitbit](django-fitbit) library, which includes that authorization piece. Alternatively, there is some example authorization code using a CherryPy server in the p

[2016-08-29 15:12] alextruong commented on #98
Thanks for the quick response! Currently, the code we have is importing the `gather_keys_oauth2.py` script and executing some of those functions to authorize, and that's where I was looking to make edits. However it looks like all of the stuff that deals with modifying the authorization URL is hidden inside a third-party library? Is that correct?

We haven't considered using Django, since we're on

[2016-09-03 04:10] brad commented on #98
Sorry @alextruong cookie dumping is beyond my knowledge. You're right that we use a third party library for the authorization: `requests-oauthlib`, which is itself a wrapper around `oauthlib`. Looking at that library, I don't see anything about a `prompt` parameter there though, so I'm not sure how we could go about adding it. Pull requests are always welcome :smile:

[2016-09-06 15:47] alextruong commented on #98
The `prompt` parameter is less a feature of the library, and more a feature of the Fitbit API, actually; it's part of the URL construction to be sent with the request. Here's the section I'm referring to: https://dev.fitbit.com/docs/oauth2/#authorization-page

You'll notice that `prompt` is a feature of the authorization protocol a dev can implement. I just have no idea how to do so...

I'd totall

[2016-09-09 07:19] cedricbonhomme commented on #94
Hi @pedrobpio,

I am using the fitbit module in order to retrieve my data and to plot it with matplotlib (https://github.com/cedricbonhomme/health). It's working quite well. but now I have to renew the access token.

I am experiencing the same problem. Could you please show how you are passing the refresh token?

My code:

[code]

And so I get:

[code]

I do not see a fundamental difference with h

[2016-09-09 13:14] brad commented on #94
@cedricbonhomme We are also on gitter if you want to ask there

[2016-09-09 13:18] cedricbonhomme commented on #94
Thanks, I'll meet you on gitter!

[2016-09-09 13:27] SVendittelli commented on #89
Anyone have any developments on this?

[2016-09-09 13:38] brad commented on #89
Sorry @SVenditelli we haven't had a chance to work on it. We are open to pull requests :smile:

[2016-09-09 13:58] pedrobpio commented on #94
hi Cedric,
Answering your question, the clientID doesn’t change, in my code I just used the same name for the OAuth 2.0 client ID (USER_ID) and the id from the user that I'm retrieving the data(userid), in this case the one used to do the connection with OAuth is the USER_ID (the one in config.ini). The one from the line 95 (userid) will probably have no use for you.

In my code that you found (so

[2016-09-09 15:57] cedricbonhomme commented on #94
thanks for your response. I do not know what I am doing wrong.
Anyway, thank you. We're discussing about that on gitter.

[2016-09-13 07:37] cedricbonhomme commented on #94
Hello @pedrobpio ,

I just testes to renew my new access token (which expired this morning) with something similar to your code:
https://github.com/cedricbonhomme/health/blob/62813f42cb558ee370cc338e72ccd19b31180cbe/refresh_token.py#L30

I still have the same problem:

[code]

[2016-09-13 07:40] cedricbonhomme commented on #94
but I am able to renew the access token (and get a new refresh token) with the script **gather_keys_oauth2.py**.

[2016-09-14 11:49] fchenebault opened #100 "Put the library on Pypi"
The library is really nice and do a great job but it would be better if it could available on pypi !
Thanks a lot !

[2016-09-14 14:04] percyperez commented on #100
@fchenebault  it is available in PyPi [python-fitbit](https://pypi.python.org/pypi/fitbit/0.2.3)

[2016-09-14 14:07] fchenebault commented on #100
Oh my mistakes !! Sorry about that !

[2016-09-14 14:07] #100 closed

[2016-09-24 01:26] tenderitaf opened #101 "json file format for log_activity"
Hi,
I'm trying to use log_activity function but bad request exception is always caught
`fitbit.exceptions.HTTPBadRequest: Either "activityId" or "activityName" should be present`

my json file is the same one as in the api example
`{
    "activityLog":{
        "activityId":12030,
        "activityParentId":90009,
        "calories":197,
        "description":"5 mph (12 min/mile)",
        "distan

[2016-09-25 15:21] brad opened #102 "Update Fitbit API urls to ones which don't require authentication"
Fitbit changed the location of their docs and the old links no longer work

[2016-09-25 15:27] brad commented on #101
@tenderitaf Try `authd_client.log_activity(data['activityLog'])`

Still, some of your parameters aren't right. Your json file is an example of what fitbit will respond with after you post an activity log. Your POST should have these parameters:

POST Parameters
----------------------------

**activityId**	_optional/required_	This is the Activity ID of the activity, directory activity, or intensity

[2016-09-25 17:15] tenderitaf commented on #101
Thanks a lot it worked :)

[2016-09-25 17:15] #101 closed

[2016-10-07 07:27] yangmillstheory commented on #75
How did you fix this?

[2016-10-07 15:25] bretzelpretzel opened #103 "trouble with gather-keys"
Hello,

I'm a newbie and I'm very confused, so apologies. I've tried three php wrappers and now I'm on my 2nd python wrapper, and I still can't seem to get log in to fitbit.

I'm typing in
`python gather_keys_oauth2.py client_id=*** client_secret=***`

This launches my browser and links me to fitbit's page, but I get the error message: "Developer information: unauthorized_client - Invalid client_i

[2016-10-20 19:55] alextruong commented on #98
So a super hacky way I was able to get around this was to hijack the URL in the OAuth2Server object of the gather_keys_oauth2.py script. Initialize the object:
```server = OAuth2.OAuth2Server(client_id, consumer_secret)```
Then just pull out the URL directly:
```auth_url = server.oauth.authorize_token_url(redirect_uri = server.redirect_uri)[0]```
Then you can mangle the URL with whatever parameter

[2016-11-11 09:56] predatell opened #106 "Requirement for python-dateutil with version less 2.5"
What is the reason to have requirement (https://github.com/orcasgit/python-fitbit/blob/master/requirements/base.txt#L1):

`python-dateutil>=1.5,<2.5`

Now the current version of python-dateutil is 2.6.0: https://pypi.python.org/pypi/python-dateutil/2.6.0

[2016-12-05 17:35] lrpina opened #108 "OAuth2 "missing access token" with with OAuth 2.0 after gather_keys_cli.py passes"
Hi everyone,

I'm able to get user `access_token` (i.e., `user_key`) and `refresh_token` (i.e., `user_secret`) from `gather_keys_cli.py`.  (For background my requests-oauthlib is on version 0.7.0)

But when I try to do:

[code]

I don't get errors when I run:
`authd_client = fitbit.Fitbit(consumer_key, consumer_secret, user_key=access_token, user_secret=refresh_token)`

But the errors show up when

[2016-12-05 18:22] lrpina commented on #108
I figured out the problem! I was copying from the documentation but the names of the variables in the pything fitbit api have changed. Use:  ' access_token' instead of 'user_key' and 'refresh_token' instead of  'user_secret'

[2016-12-05 18:22] #108 closed

[2016-12-05 18:27] brad commented on #108
@lrpina Glad you got it working! I should also point out that the official way to access that resource is:
[code]
`_COLLECTION_RESOURCE` is not meant to be used directly, it is a method that implements a number of other methods, including `body`: https://python-fitbit.readthedocs.io/en/latest/#fitbit.Fitbit._COLLECTION_RESOURCE

[2016-12-06 22:12] lrpina commented on #103
Hello!

The only thing I can think of off the top of my head is that your `redirect_uri` does not match what you have in your fitbit app client settings. You have to manually set that in the initializer for the OAuth2Server object (__init__).

[2016-12-09 03:39] griffmer opened #109 "Activity Log List/Non-Main Sleep Events"
This is a great package - thank you for writing it. Posting two comments:

1) When I retrieve the "sleep" collection resource, only isMainSleep = True events are included. Is there a method to retrieve non-main sleep events (e.g., naps)? By default Fitbit API documentation indicates they should be returned, however nap events that display on the web interface are not present in the downloaded API

[2016-12-19 04:03] dscerri commented on #103
The arguments to the script should not include 'client_id=' or 'client_secret='.

So the script should be run like this for example:

`python gather_keys_oauth2.py 1234S5 d18508414c3099002ce1fb`

[2017-01-14 14:57] tylerwmarrs opened #112 "Gather keys logic hangs on CherryPy shutdown logic"
When I use your logic via the command line the logic to shutdown cherrypy hangs. I am performing the whole process through a shell environment using the links web browser. Swapping the logic so that the cherrypy server runs in a thread seems to resolve the issue - among other changes during the shutdown process.

Here is a link to what I changed:
[https://gist.github.com/tylerwmarrs/7fd638cae3aba2

[2017-02-27 01:56] joegle opened #115 "UnicodeEncodeError with Fitbit name"
Here is the error log when Fitbit name has non ascii character like 'Ⓑ' or '😎':

[code]

Thanks for the script!!

[2017-03-30 17:56] meysamnick opened #117 "using the api"
Hi Guys, I'm new to API dev. I have done some studies and did few examples. I have gone through the docs of python-fitbit but still can not figure out how to get the access token and then doing some other stuff. here is what i have done:
1. registered an app in fitbit and got my client id and secret
2. i provide them as arguments to gather_keys_oauth2.py. it opens a browser and redirect me to my r

[2017-05-05 15:43] stevenirby opened #119 "Unclear how to stay authed for longer than a day"
I'm not sure how to keep my app authed for longer than one day.

Here is what I'm doing:

- Running `gather_keys_oauth2.py` to get tokens.
- In my app I do this.

[code]

How do I auth the app for much longer time?

[2017-05-05 15:59] brad commented on #119
Sorry @stevenirby the decumentation is a bit lacking on this (non-existent). What you need to do is supply an extra kwarg in the `Fitbit` constructor called `refresh_cb`. The value should be a function that accepts one argument: a `token`. The value of that argument will be a dictionary with the keys `['access_token', 'refresh_token', 'expires_at']`.

When python fitbit makes a call and discovers

[2017-05-05 23:21] stevenirby commented on #119
Oh wow, thanks for the quick reply! I figured it was close to that. I think I'm good now.

Do you need some help updating docs or the README?

[2017-05-06 03:53] brad commented on #119
@stevenirby we would totally appreciate help with the docs!

[2017-05-15 17:42] toothie96 commented on #119
For those of us with little experience with code, could you possibly write out what lines need to be added and where? It'd be a massive help! thanks!

[2017-06-06 19:19] lrpina commented on #119
Hello!

First, thanks for putting together this api and all the help provided a long the way.
I'm still having trouble with refreshing the token and setting up `refresh_cb` correctly. I've approached setting up `refresh_cb` in several ways. Including:

- assigning `refresh_cb` to an anonymous function. Like the following:

lambda x: None

or

lambda x: {}

I also added more specific fields to the

[2017-06-06 19:22] stevenirby commented on #119
I haven't had time to come back to this, but I too had problems making this work.

The call back function I passed along never fired. So I'm not sure how to make this work.

[2017-06-06 19:52] lrpina commented on #119
@stevenirby, thanks for the quick reply. Hopefully others can chime in.

[2017-06-13 20:11] lrpina commented on #119
Update! I think it I got it work.  Here's how I got mine to work:

def r_cb(token):
	 """ Called when the OAuth token has been refreshed """
	 access_token = token['access_token']
	 refresh_token = token['refresh_token']
	 expires_at = token['expires_at']

where the variables on the left ( access_token, refresh_token, expires_at) are local variables that get updated when r_cb is called.

[2017-06-13 20:46] brad commented on #119
@lrpina That could work, but you need to make sure to save those values somewhere permanent (like a database) and use them the next time you create a `Fitbit` object for the user. Does that make sense?

[2017-06-13 20:55] lrpina commented on #119
@brad, yes! I was just showing an example for others to view what the callback function looks like. Many of use couldn't figure out how to write the refresh_cb  function properly. For example, it was unclear what the token dictionary needed to include.

But yes, thanks for clarification. Callback function (in my case r_cb) needs to save the access_token, refresh_token, expires_at to permanent plac

[2017-07-08 14:49] mcanet commented on #117
@meysamnick did you got working? I am facing similar issues

[2017-07-08 15:45] mcanet opened #120 "Error in trying get consumer keys"
I follow all the instructions and it does not work "gather_keys_oauth2.py" and also reseached in forum fitbit: https://community.fitbit.com/t5/Web-API-Development/Get-oAuth2-refresh-access-token/m-p/1215464#M4772 . I am with code in latest from github. I called from terminal with client id and client secret.

When open in the terminal show this that I am not sure if is an error:
CherryPy Checker:

[2017-08-30 07:02] tchellomello commented on #119
Thanks for the notes on this issue. I was able to fix a problem this problem https://github.com/home-assistant/home-assistant/pull/9183 for Home Assistant.

[2017-08-31 20:10] deep-introspection opened #122 "Error with the gather_keys_oauth2.py script"
I run the gather_keys_oauth2.py script with my client_id and client_secret but got this error:

[code]

Any idea where it can come from?

[2017-10-03 07:00] jacksonsevendelta opened #124 "fitbit.exceptions.HTTPServerError when setting alarm."
I'm getting an exception from python with the following code:
[code]
I've checked datetime formats and everything, but it still gives me the following output:
[code]
Any help with this? My program is just to set an alarm 20 seconds after the current time.

[2017-10-21 19:50] LEXmono commented on #124
You are not including the timezone in your request. Per the [code](https://github.com/orcasgit/python-fitbit/blob/9a3a599862328dd620a848d86f1ddf932592532b/fitbit/api.py#L722), alarm_time should be a timezone aware datetime object.

You can do this with another module called pytz.

[2017-10-21 20:01] LEXmono commented on #122
Can you provide more details?  Maybe what you are running, but please redact your personal information.

It sounds like something is being added to self.fitbit.client.authorize_token_url(), which doesn't make sense as the script is written.

[2017-10-21 20:02] LEXmono commented on #117
You need to set your redirect URL on the fitbit website to http://127.0.0.1:8080/ unless you are running a modified version of this script.

[2017-10-23 07:22] jacksonsevendelta commented on #124
Thank you for this.

[2018-02-04 08:36] zelenij opened #126 "intraday_time_series returns no heart rate"
I am doing essentially this:

[code]

I don't get any errors, but the result seems to contain only some public activities, no private heartrate data.  I did request access to intraday data via fitbit, but to be fair I have received no reply whatsoever.  I'm using python 3.5.3 if that matters.  Any ideas?

Top of the returned result:

[code]

[2018-02-04 08:38] zelenij commented on #126
Bummer, I think it's "yesterday" in my query.  Changed to "today" and seems to be working.  Oh well, sorry for making fuss :)

[2018-02-21 02:36] DanWebster opened #128 "Sleep stages data may require v1.2 API endpoint"
I have noticed that the data coming back from the fitbit.sleep() doesn't return the same format as specified in the current fitbit docs.

In looking through, it looks like most of the endoints are drawing from the Version 1 of the API (```GET``` calls using 1 before the ```user``` as per below)
```GET https://api.fitbit.com/1/user/[user-id]/activities/date/[date].json```

But for the newest Sleep

[2018-02-21 14:48] brad commented on #128
🤔 @DanWebster Maybe we should make the version specifiable so people could use the version they want?

[2018-02-21 18:25] DanWebster commented on #128
Would it be better to make this set-able when initializing the OAuth2 or expose this for the different endpoints that feed into ```make_request```?

I will check today if making a 1.2 call breaks a few of the more canonical datasets and respond back here.  Thanks for the quick response, btw.

[2018-02-21 18:27] brad commented on #128
Oh that's interesting, so you could specify a different version depending upon the endpoint. Maybe you could specify a default version to use for all requests when you create the fitbit client, but then you could also override it for a specific request

[2018-02-21 18:27] brad commented on #128
@DanWebster Thanks for checking that 👍

[2018-02-21 20:50] DanWebster commented on #128
Can confirm that hardcoding in ```API_VERSION = 1.2``` (line 23, line 190 in api.py) does update the intraday sleep data (see example output below) but still maintains other data type integrity (I checked intraday HR data but did not do an exhaustive test of all API calls).

I think that this means being able to specify API version as a parameter when setting up the oauth client (rather than in ea

[2018-02-21 20:53] brad commented on #128
@DanWebster Awesome, thank you for the testing!

[2018-04-28 05:38] Dannie1G commented on #128
@DanWebster Thanks for that. I have hard coded the api version as you mentioned to get detailed sleep stages. Have you noticed any breaks on the code from that change?

[2018-04-29 22:52] DanWebster commented on #128
@Dannie1G Seems to work for the endpoints I am looking at (admittedly not exhaustive) with no breaks.

[2018-05-09 20:42] aanchan commented on #128
I'm able to get the sleep data assuming that I know the date. I had to change the hardcoded API version just the same as this issue. Regarding additional endpoints, I am trying to get a list of nights the user has slept : https://dev.fitbit.com/build/reference/web-api/sleep/ - Get Sleep Logs List using the GET https://api.fitbit.com/1.2/user/-/sleep/list.json endpoint. I am not able to figure out

[2018-05-09 22:29] Dannie1G commented on #128
@annchan not sure what kind of list you want. I’ve written a little script and posted as jupyter notebook (https://github.com/Dannie1G/python-fitbit/blob/master/Fitbit_APIv12DataCollection_gh.ipynb). In one I collect my sleep stages for each night as separate csv, and in another I collect sleep stats for dates that fall in a specific period of time. Have a look and let me know if you need help fol

[2018-05-09 22:42] aanchan commented on #128
@Dannie1G Your code assumes that you know the last date at which you want to stop from the current date.
Example : >> last_record = datetime.date(2018, 4, 14) --> In [10].
Fitbit allows you to do this in v1.2 :
GET https://api.fitbit.com/1.2/user/-/sleep/list.json?beforeDate=2017-03-27&sort=desc&offset=0&limit=1
which basically gives you all sleep records before a certain date. For example if you

[2018-05-09 23:26] Dannie1G commented on #128
@aanchan I see.. yeah that makes sense, it could be handy for others PR sounds reasonable

[2018-06-05 15:57] frejonb opened #131 ".heart() not working"
should `'heart'` in `RESOURCE_LIST = [
        'body',
        'activities',
        'foods/log',
        'foods/log/water',
        'sleep',
        'heart',
        'bp',
        'glucose',
    ]`
be replaced with `'activities/heart'`?
The method Fitbit.heart() doesn't seem to work. From Fitbit documentation https://dev.fitbit.com/build/reference/web-api/heart-rate/ it seems the API url has a di

[2018-06-07 16:39] frejonb commented on #131
I had to create a new method since the arguments of `_COLLECTION_RESOURCE` are not compatible with the API documentation.

[2018-06-07 17:30] #131 closed

[2018-06-10 22:11] frejonb opened #134 "API access limit tracking"
I was trying to get my heart rate  intraday series for  awhile year but the API only supports pulling data for 1 day at a time, which hits the call limit (only 150 requests per hour).

I added the rate limit attributes to the Fitbit class in order to track these and pull data of 150 days at a time.

#133

[2018-06-14 12:47] brandonmichaelhunter opened #135 "Close the window\tab once CherryPy server accepted authentication response"
Is there a way to automatically close the new window or tab that opens the authorization from fitbit
threading.Timer(1, webbrowser.open, args=(url,)).start()

I would like to close the browser after cherrypy.quickstart(self) to close the window or tab

[2018-06-19 21:18] sefyas opened #137 "intraday_time_series does not currently retrieve the data"
We want to obtain intraday step data and what we get is different from Fitbit dashboard. We have cases where we see zero steps for a particular date but the dashboard shows +3K steps. Or, dates where the total number of steps is different from what we see in dashboard.

This code illustrates the main steps of obtaining intra-day data and processing it (e.g. obtaining the daily counts)

[code]

The

[2018-08-17 12:52] stuboo commented on #119
This feature is incredibly valuable and, with the help of this thread, I'm able to successfully execute the callback.  My issue is this: because the callback function can only take one variable, I'm at a loss as to how to store the `tokens` dictionary in my database.  I have multiple users and need to be able to insert the credentials with the correct `user_id`.

I am fully aware that my [in]abili

[2018-08-17 14:11] brad commented on #119
@stuboo Take a look at how we did it in [django-fitbit](https://github.com/orcasgit/django-fitbit/blob/3e696d45d58dac1a097d1ed7f82339895418705e/fitapp/models.py#L24). The refresh callback is actually a method on the DB model class so it has access to everything it needs:
[code]
Will something like that work for your case?

[2018-09-18 23:09] sashasomms opened #139 "Duplicate data for sleep stages for different dates"
I'm working on code to download FitBit data for a research study to CSV files for about 60 research participants. For multiple participants, duplicate data on sleep stages is given for consecutive days, despite there being different data for each day when I look through FitBit's web dashboard.  Any idea why this is happening?

Here's an example:

[code]

Gives me:
[code]

When I look up sleep stag

[2018-09-18 23:54] DanWebster commented on #139
I've seen the same thing.  You need to upgrade to at least the 1.2 version of the Fitbit API when initializing the API caller.  The current version (1.0) has sleep stage data that is either a stand in for data or it doesn't update each day. That should fix it, and from my own testing, doesn't affect the other API calls to data types like resting heart rate or intradayHR

[2018-09-19 00:39] sashasomms commented on #139
Thanks for the quick response.
Huh, I just changed API version to 1.2 in the 2 places in api.py, started a new python session and reran the calls, but it still seems to be duplicating?
'''

{u'light': 315, u'wake': 74, u'deep': 59, u'rem': 70}

{u'light': 315, u'wake': 74, u'deep': 59, u'rem': 70}

1.2
'''

[2018-09-19 01:02] sashasomms commented on #139
Ah! Got it. Related to this:
https://community.fitbit.com/t5/Web-API-Development/API-returns-incorrect-sleep-stages-data/m-p/2482583

They say:

So
fit_statsSleep_d2['summary']['stages'] is still wrong,
but
fit_statsSleep_d2['sleep'][0]['levels']['summary']['light']['minutes']
Matches the web dash (and wasn't accessible with API_VERSION 1).

Thanks for your help!

[2018-09-19 02:03] DanWebster commented on #139
Yes, and good call on the alternate endpoint; I forgot to mention that.  Very glad you have it working

[2018-09-19 02:06] #139 closed

[2018-10-05 15:50] justin-f-perez commented on #137
@sefyas This is a problem on Fitbit's side. You can prove this to yourself by using a program like Postman to make the API request directly for a date where the values don't match the dashboard, then compare the daily summary to the sum of the intraday values. Fitbit admits (somewhere on their forums a few years ago) the following conditions can cause a disparity between intraday values and daily

[2018-10-30 13:42] HawkingsRainbow commented on #137
I wonder if there has been any update on this issue?

I'm unable to retrieve any intraday heartrate values, using the following code:
(Based on the great Medium tutorial by Stephen Hsu at https://towardsdatascience.com/collect-your-own-fitbit-data-with-python-ff145fa10873)
[code]
[Browser-based authorization]
[code]

fit_statsHR contains only an 'activities-heart-rate' key. 'activities-heart-intra

[2018-11-19 17:52] jlapenna opened #141 "get_bodyweight uses /log/ API, which has max period of 31d."
If you pass period='max' to Fitbit.get_bodyweight it fails:

[code]

This is due to using the https://dev.fitbit.com/build/reference/web-api/body/#get-weight-logs API.

If it used https://dev.fitbit.com/build/reference/web-api/body/#get-body-time-series then you could fetch longer, but the data returned is different, too.

This bug will be to change the accepted period parameters for get_bodyweigh

[2018-11-19 22:34] ashutosh-aneja commented on #70
oauthlib.oauth2.rfc6749.errors.MissingTokenError
oauthlib.oauth2.rfc6749.errors.MissingTokenError: (missing_token) Missing access token parameter.

if 'code' not in request.args and 'state' not in request.args:
        return redirect(url_for('login'))
    else:
        google = get_google_auth(state=session['oauth_state'])
        try:
            token = google.fetch_token(Auth.TOKEN_URI,client_

[2019-01-20 07:08] aparente opened #142 "Error on Fitbit authentication when setting up permissions: 500 Internal Server Error"
When trying to set permissions for what data can be accessed by an application, I get a 500 Server Error

`500 Internal Server Error

The server encountered an unexpected condition which prevented it from fulfilling the request.

Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/cherrypy/_cprequest.py", line 628, in respond
    self._do_respond(path_info)
  File "/a

[2019-01-22 06:37] y26805 commented on #142
hey I had a similar error. managed to solve it by setting the Callback URL (as well as what's in __init__ in  `api.py`)  to HTTPS. that way I could get the correct code to acquire an OAuth 2.0 token

[2019-01-23 20:58] skylergrammer commented on #142
I was having a similar problem and was able to solve it by downgrading the oauth2-related libraries to the following versions: `requests-oauthlib == 1.1.0` and `oauthlib == 2.1.0`. I haven't tried to diagnose why the 500 error is thrown yet.

[2019-01-24 00:03] dre2004 commented on #142
Did you need to change anything else in `gather_keys_oauth2.py` to allow for HTTPS? I tried changing the options (port, set key and cert) but I'm still getting the same error.

`oauthlib.oauth2.rfc6749.errors.InvalidClientError: (invalid_client) `

[2019-01-24 07:12] aparente commented on #142
Tried this, now getting a 404 error at the same point (clicking OK after selecting all data I want to be accessed):

[code]

[2019-01-24 07:39] aparente commented on #142
Strange - I downgraded these two modules with pip and now I'm getting an error that it can' t find requests_oauthlib. I confirmed its installed in /anaconda3/lib/python3.6/site-packages.

`---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-1-f3df68ffb3e9> in <module>()
----> 1 import

[2019-02-02 15:03] andreimarinescu commented on #142
I can also confirm that downgrading these libraries worked for me as well (I've used @dre2004's fork, thanks for that, by the way!).

[2019-02-11 19:46] KeithSloan opened #143 "Problems with Auth 2.0"
I am having a problem with setting up Auth2.0.

If I run python gather_keys_oauth2.py CCCCCC xxxxxxxxxxxxxxxxxxxxxxxxx
I get an error

The app you're trying to connect did not provide valid information to Fitbit. Please report this issue to them.
Developer information: invalid_request - Invalid redirect_uri parameter value

my redirect is HTTP://www.sloan-home.co.uk

Yet if I use the webpage https

[2019-02-11 22:03] KeithSloan commented on #143
Actually, I go to https://dev.fitbit.com/apps/details/CCCCCC

Then click on OAuth2.0 tutorial page which then goes to https://dev.fitbit.com/apps/oauthinteractivetutorial?clientEncodedId=CCCCCCC&clientSecret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&redirectUri=HTTP://www.sloan-home.co.uk&applicationType=CLIENT

[2019-02-12 09:21] andreimarinescu commented on #142
Hey guys. Any updates on this? I can create a PR fixing the dependencies for `requests-oauthlib` and `oauthlib` if it helps, the library has been running without issues for me for about 2 weeks using these versions.

[2019-02-12 21:58] KeithSloan commented on #143
OKay on reading problem #142 I hard coded in gather_keys_oauth2.py
 my redirect to HTTP://www.sloan-home.co.uk but that still did not work.
It seems that gather_keys_oauth2.py wants a local host and the system I am
using for development does not have a webserver

[2019-02-12 22:04] KeithSloan commented on #143
Okay as per #142 I downgraded the libraries`requests-oauthlib==1.1.0 and `oauthlib==2.1.0`
set my Callback URL to http://127.0.0.1:8080/ i.e the same as gather_keys_oauth2.py but it still did not work until I selected **All** for the data I wanted access to. Now I get authorised access.

[2019-02-28 18:42] Crainbows opened #144 "Help needed?"
This repo is excellent and is one of the most starred fitbit libraries on GitHub. However, there seem to be a number of unresolved issues and pull requests.

If possible I'd love to be able to help out with merging pull requests and resolving issues.

[2019-03-05 22:40] brad commented on #142
@andreimarinescu That would be really helpful!

[2019-03-05 22:59] brad commented on #135
@brandonmichaelhunter I don't think it is possible with `webbrowser.open` but it may be possible using something like `cefpython` this is a great task for a community member to contribute. A PR would be most welcome

[2019-03-25 04:47] aparente commented on #142
Ok, so this is now working!

1. Set up conda environment running requests-oauthlib == 1.1.0 and oauthlib == 2.1.0. Installed the python-fitbit api through pip.

[code]
2. For whatever reason, it couldn't find the gather_keys_oauth2.py when I installed fitbit through pip. Had to create it manually as well as edit the redirect_uri to match my host set in my App.

[2019-03-25 05:26] aparente opened #145 "How to get activity statistics by activity type when its started from the tracker?"
I'd like to track all the statistics for a given activity ie. get the distance and elevation for all hiking activities. Ideally this data would be appended to a CSV file for tracking all my hikes for the year.

Whats the easiest way to do this?  I can't figure out how to get the statistics by activity name or activity id.

[2019-04-14 17:36] danielnjoo commented on #45
Hi sorry to comment on an old issue, but currently having potentially related issues...

After the initial OAuth2 Authorize page, I run into an issue with SSL:

<img width="607" alt="Screen Shot 2019-04-14 at 13 34 29" src="https://user-images.githubusercontent.com/16789604/56096754-5d138880-5eba-11e9-8663-daf420f7b3b4.png">

[2019-04-16 02:40] danielnjoo commented on #117
@LEXmono doesn't the API require an https redirect URI?

[2019-04-27 19:38] paulhoff commented on #142
Downgrading using:
pip install requests-oauthlib==1.1.0
pip install oauthlib==2.1.0

worked for me too!

Thanks all.

[2019-05-03 15:51] sehokim88 opened #147 "unable to get sleep summary data using time_series('sleep')"
When I make a API request using
[code]

, I do not get sleep summary data that contains
[code]

I was able to get the full sleep data including summary data using just auth_client.sleep() but not using auth_client.time_series('sleep')

[2019-05-05 11:53] delroth opened #148 "Source tarball on PyPi does not include tests or tox config"
This makes it impossible to run unit tests with the source archive distributed over there. The sdist recipe likely needs to be changed to include these auxiliary files.

[2019-05-29 17:03] brad commented on #142
I'm fixed with version 0.3.1 on PyPI. Please reopen if I'm wrong about this

[2019-05-29 17:03] #142 closed

[2019-06-04 10:51] salvador-moreno commented on #147
I do not think that is an issue, the 'time_series' method is indicated to retrieve only the sleep data in a finer detail,. If you want to get the summary AND the time series you can always use the client's 'sleep' method.

[2019-06-10 09:50] thegabriele97 opened #151 "Error trying to get heart data"
Hi,

I am developing a python application for my university and I need to access heart rate during an activity (avg data or something that tell me how user is performing during a run). I am using this api https://github.com/orcasgit/python-fitbit .

I have this code

fitbit_api.py

[code]

main.py

[code]

but when I execute this code, i obtain this error:

[code]

Why?

[2019-06-20 02:55] pete7863 commented on #119
Has anyone had any success getting the refresh callback function to fire? My code is as follows

`import datetime
import fitbit
import json

def refresh_callback(token):
    f_data = {
        'access_token': token['access_token'],
        'refresh_token': token['refresh_token'],
        'expires_at': token['expires_at']
    }

    with open('access_token_cache_file.json', 'w') as outfile:

[2019-06-29 22:36] pete7863 commented on #119
I think I figured my issue out. For some reason I was initializing with the user_id and the client_id as the first two parameters when initializing the Fitbit client. Once I fixed this issue, my callback started working properly.

[2019-07-02 14:15] notquitehere commented on #117
@danielnjoo It appears not to need https if you're using localhost.

[2019-07-13 02:54] CuriousToCode commented on #98
I've been trying to figure out how to automate text entry into both user and pass text fields with Selenium web driver, however, there doesn't appear to be a way to interact with the current browser session without first opening either a new browser or tab. Any suggestion?

[2019-07-25 17:53] CuriousToCode commented on #98
I've since added this feature to the gather_keys_oAuth2.py. Since I am new to Github, I'll simply attach the updated .py file here (see lines 41-53, 61). Note, you can't hit the Fitbit API very often (freq unknown) without getting temporarily blocked. Thanks!

[gather_keys_oauth2.py.zip](https://github.com/orcasgit/python-fitbit/files/3432713/gather_keys_oauth2.py.zip)

[2019-08-14 19:54] Etherealflux commented on #151
Same thing here. I would guess that something changed on Fitbit's end. I'll have a closer look at it soon.

[2019-08-14 20:25] thegabriele97 commented on #151
I solved using another functions. You can look at my project (AmIRunning) on my profile

[2019-08-29 03:44] freshwuzhere commented on #151
Hi @Etherealflux ,

Any chance to look at this?  I am about to implement Fitbit API call but would love to use this feature of your library!

Thanks

[2019-08-31 20:59] MasonV commented on #135
This really should be an option, although it would mean switching from webbrowser to a more flexible module like Selenium if I'm not mistaken.

It is a bit hard to read, but if you dive into api.py there's actually a bit of a workaround through trying to use old access & refresh tokens. For example, I download my sleep log daily and use the following code to try the old tokens and refresh them if

[2019-09-30 12:14] MasonV commented on #119
My issue with refresh_token is that it is worded as something that is automatic, but it is never called within the code itself. The token_updater also doesn't exist or at least I couldn't figure out how to make it exist through passing some sort of function originally.

So my solution was to modify the source code and call it myself.

`
    def refresh_token(self):

    token = {}

    token = sel

[2019-10-19 10:36] jakemiller13 commented on #147
![Tracking Sleep Habits Using Your Fitbit](https://user-images.githubusercontent.com/34395972/67143561-95fe3280-f23a-11e9-904e-fdf32bf915f9.jpg)

I'm working on a project that does exactly what you are looking for. It returns the summary as part of a json object, so you just need to pull it out of that.

[2019-12-03 21:36] mrkaye97 opened #153 "Close Chrome tab after validating API"
Hey,

I dug around in the code a little but couldn't find it. Is there a way to automate closing the tab that opens when you go to validate the permissions for the API? Would be nice to not need to close the tab every time.

Thanks!

[2020-01-24 10:04] pepijndevos commented on #151
So save the next person the trouble, the code @thegabriele97 seems to be referring to is
[code]
A fix for this would be very much appreciated.

[2020-01-27 12:18] aunsbjerg opened #154 "AttributeError: module 'fitbit' has no attribute 'Fitbit'"
Following the quickstart guide following a pip install fitbit gives me an attributes error when trying to call the Fitbit() constructor.

Have attempted with python 3.7, 3.5 and 2.7 all with the same result.

OS is ubuntu 18.04. Am I doing something wrong here?

[2020-04-12 08:10] bikramb98 commented on #153
Any idea about this?

[2020-04-12 13:30] mrkaye97 commented on #153
Nope, still nothing

[2020-04-22 09:06] MiniXC commented on #153
This could be done using javascript.
Currently ``gather_keys_oauth2.py`` uses the following:
[code]
Instead, you could just use
[code]

[2020-04-28 15:26] #153 closed, assigned to nobody

[2020-08-07 22:37] parkersell opened #157 "Works well Locally, but not Deployed"
I am using this in a Django website that I am creating and have had great success getting gather_keys_oauth2.py to work locally, but not when deploying it to PythonAnywhere. I understand that the redirect uri is set as a default 'http://127.0.0.1:8080/'. I am curious if this script works deployed or I am just doing it incorrectly. If it doesn't work deployed, is there something I can change to mak

[2020-09-15 02:57] kcinnick commented on #128
@aanchan did you ever decide to submit a PR for this? I just ran into this issue and it seems a bit more pertinent now that Fitbit has deprecated the 1.0 endpoints: https://dev.fitbit.com/build/reference/web-api/sleep-v1/

[2020-09-22 00:46] mrkaye97 opened #158 "Add multi-date functionality"
Hey all,

Is there an easy way to allow calls like

`auth2_client.activities(date=date)['summary']`

to be able to accept a list of dates instead of a single date? Would be convenient for limiting requests, but also for vectorizing code on my end.

Thanks!

[2020-09-24 16:52] #158 closed, assigned to nobody

[2020-11-07 15:08] manuel-delverme opened #159 "Force sync"
Is it possible to request the APP to sync with the device (to update an alarm for example)?

[2020-11-21 22:20] Ziip-dev commented on #159
Just read the relevant documentations ;)

As in the [python module documentation](https://python-fitbit.readthedocs.io/en/latest/):

And from the [Fitbit WEB API](https://dev.fitbit.com/build/reference/web-api/) reference page:

[2020-11-29 21:22] calambchops opened #161 "wait_for_tstate_lock: ENGINE Waiting for thread Thread-4"
Hi,

On mac, my console is getting stuck at "ENGINE Waiting for thread Thread-4," and traceback shows it's stuck on tstate_lock which I'm not very familiar with. Running on my windows machine (python 3.8 installed) gives the same console output, but it will get stuck on "ENGINE Waiting for thread Thread-5," there's no traceback, and I'm unable to stop the program with keyboard interrupt.

I follow

[2020-12-11 11:06] BigValen opened #163 "fitbit do not allow callback URLs with http anymore"
Fitbit won't allow a new application without a https callback.

![Screenshot from 2020-12-11 10-45-37](https://user-images.githubusercontent.com/1176368/101894461-19e14f80-3b9e-11eb-8671-8722f5da9304.png)

Probably should switch to https...this worked for me.

[code]

But you also need to run python in an environment with a variable that tells OAUTHLIB to be cool about a bunch of things;

`export

[2021-02-23 23:33] chemelli74 opened #164 "Add lifetime stats, friends and badges API"
In order to get full stats and keep the gaming idea from FitBit, experience in HA should be enriched with:

- loading friends
- loading lifetime-stats for owner and friends
- loading badges for owner and friends

To do so support for 3 new APIs is needed:

[Friends](https://dev.fitbit.com/build/reference/web-api/friends/)
[Lifetime stats](https://dev.fitbit.com/build/reference/web-api/activity/#ge

[2021-03-16 15:03] guillochon commented on #163
Missing from these instructions are the fact that you need to generate a `cert.pem` and `privkey.pem` file using this guide here: https://docs.cherrypy.org/en/3.3.0/progguide/security.html

Also one needs to add the certificate to the keychain and trust it, instructions available here: https://www.ateam-oracle.com/how-to-make-chrome-on-os-x-trust-a-self-signed-certificate

[2021-07-03 16:25] timvieira commented on #154
Did you name your script `fitbit.py`? If so, rename it.

[2021-09-05 01:25] 3v1n0 commented on #163
The links are dead but you can generate things quite easily by using:

`openssl req -newkey rsa:2048 -new -nodes -x509 -days 3650 -keyout privkey.pem -out cert.pem`

This is self-signed certificate so on the browser (firefox for example) when you get the certificate error, you can just go in advanced toggle to allow this certificate and all will work properly.

[2021-11-21 23:04] chemelli74 opened #169 "[INFO] Repo not maintained anymore ?"
Seems this repo is not maintained any more; should we make a fork of this library to improve it ?

Simone

[2021-11-22 03:55] brad commented on #169
Yes

[2021-11-25 14:00] chemelli74 commented on #169
@GhostofOnyx238, what do you think about taking over ?

Simone

[2021-12-06 17:10] Ziip-dev commented on #169
I vote for it too :)
I have been working with this project for a while but it is a bit of struggle actually

[2022-03-04 08:29] j-rossi-nl commented on #169
@chemelli74
Very late to this party.
What does "taking over" imply? Did you already start dev on your own fork?

I would be interested in co-owning it with at least 1 or 2 others.
I see a lot of work needing to be done, wrt coverage of the API.
Also using the Swagger description of the API to build the package.

Let's not forget: we need to contact Fitbit so their developer website points to our r

[2022-03-04 09:16] chemelli74 commented on #169
@j-rossi-nl didn't start doing anything yet.

If you agree, you can start a fork and then we will work together on it ;-)
Hopefully, others will join.

Simone

[2022-03-04 09:56] Ziip-dev commented on #169
I would also like to join you guys to give a hand on this :)
Only a hobbyist developer, so no professional expertise on my side but I'd love to improve and learn more about open source co-development.

I have extensively used Fitbit WEB API as well as this library during my phd work, and I already started to work on the upgrade of their [second project](https://github.com/orcasgit/django-fitbit) t

[2022-03-04 10:09] chemelli74 commented on #169
Thinking about it again, do you mind if we create the repo on https://github.com/home-assistant-libs ?

Simone

[2022-03-04 10:26] Ziip-dev commented on #169
In my opinion we are changing the displayed purpose of the library and diluting information doing this, as this is basically independent from any home automation solution.

[2022-03-04 10:37] chemelli74 commented on #169
Ok, no problem. Let's go with an independent repo then.

Let me know if one of you create it or I do.

Simone

[2022-03-04 12:19] j-rossi-nl commented on #169
Fine, I forked it yesterday (I wanted to retrieve the TCX files, and it's not covered in the current code. I quickly made a PR and then I found out your issue :) ).
The fork is here: https://github.com/j-rossi-nl/python-fitbit

I'll add you as collaborators: @chemelli74 @Ziip-dev

[2022-03-04 13:05] chemelli74 commented on #169
I think we need to change the name or we won't be able to release because of the conflict.
Maybe "`pyfitbit`" or similar.

Simone

[2022-03-04 13:26] Ziip-dev commented on #169
Either this or asking the original developer to remove the abandoned project from PyPi.
Even if there is no hurry, I'm not sure of the time that could take though

[2022-03-06 14:45] j-rossi-nl commented on #169
I'll put this as an issue in the fork.

[2022-03-27 13:30] chemelli74 commented on #169
New repo active: https://github.com/j-rossi-nl/py-fitbit

[2022-03-27 13:30] #169 closed, assigned to nobody

[2022-06-14 08:50] pivdnber opened #170 "Unable to establish connection with Fitbit API"
Hi

I get an error while using python-fitbit, specifically when trying to execute server.browser_authorize()
Unfortunately, no page appears to sign in.

[14/Jun/2022:09:54:55] ENGINE Listening for SIGTERM.
[14/Jun/2022:09:54:55] ENGINE Bus STARTING
[14/Jun/2022:09:54:55] ENGINE Set handler for console events.
CherryPy Checker:
The Application mounted at '' has an empty config.

[14/Jun/2022:09:54:

[2022-07-26 15:41] MEINHL opened #171 "Exporting Breathing Rate Intraday by Date"
Hi,

I am trying to export breathing rate data intraday by date, however could not find specific help on this in the python fitbit documentation. I have successfully authorized and then exported heart rate data, using the following call:

`fit_statsHR = auth2_client.intraday_time_series('activities/heart', base_date="2022-05-14", detail_level='1sec')`

However, breathing rate does not seem to work

[2022-07-28 18:01] mmcc-xx commented on #171
Similarly, spO2 intraday is now available according to API docs.

Thanks!

[2022-07-29 08:20] MEINHL commented on #171
To clarify: My question was, what would be the call to extract breathing rate intraday with python?

Thank you!

[2022-07-30 23:51] mmcc-xx commented on #171
In api.py, in the authorize_token_url function, the list of scopes need to be updated...

[code]
Also, I added a new function in api.py that should work for breathing rate and for spo2 (and maybe others). I say should because when I try it I get a 403 error back and I don't know why.

[code]

If you copy that in and call fit_statsBR = auth2_client.intraday_time_series2('br', base_date="2022-05-14"

[2022-08-02 07:57] MEINHL commented on #171
Thanks @mmcc-xx for your help and posting to the fitbit forum! :)

I receive the same 403 error and not sure why, but would also suspect it is a problem on the fitbit side....

[2022-08-02 12:47] mmcc-xx commented on #171
You can try out the API calls with their Web API Explorer, which is described here: https://dev.fitbit.com/build/reference/web-api/troubleshooting-guide/debugging-tools/

I've also filled in the request form here to specifically ask for access to intraday data: https://dev.fitbit.com/build/reference/web-api/intraday/

No response yet.

[2022-08-02 13:42] MEINHL commented on #171
I can get my own breathing rate data via the Web API Explorer, strange that this does not work with python as the library should be built on those very same calls!

[2022-08-02 14:09] mmcc-xx commented on #171
My theory is that on the Fitbit side, the Web API Explorer has permission to get the data but our "Personal" applications don't (even though the documentation says that Personal apps are supposed to be able to access all data of the app owner).

I'm hoping that the request for intraday data I mentioned above will help things.

Update: I also submitted a support request with Fitbit. I hope that doe

[2022-08-03 13:14] mmcc-xx commented on #171
Here's the info I got from Fitbit support:
_We've identified an issue with the personal application setting for querying intraday data from the new endpoints (SpO2, HRV, and Breathing Rate). While it is intended for personal applications to fetch this data, it is currently not behaving as expected today.

We're working with engineering to resolve this as soon as possible. In the meantime, I recomm

[2022-08-03 15:02] MEINHL commented on #171
That is great news, thanks for the update ! :)

[2022-09-16 12:54] MEINHL commented on #171
Judging from this post
https://community.fitbit.com/t5/Web-API-Development/Can-t-get-spo2-but-can-get-intraday-heart-rate/td-p/5200834

it seems that fitbit has fixed the issue with the personal authorization, however my python code above still fails with the same error.

Any ideas why this could be?

@mmcc-xx did it solve the issue for you ?